body, nav{
background-image: 
  url("../image/Couverture2.png");
  background-size:cover;
  background-repeat: no-repeat;
}

h1 {
    font-weight: 700;
    text-shadow: 0 0 0.30em #ffffff;
    user-select: none;
}
